<% include ('./sectionFunctions') %>

<a href="/section" class="bg-red-500 hover:bg-red-400 text-white text-center font-semibold py-1.5 px-4 hover:border-red-500 rounded"> Back </a>

<table class="table-auto w-auto mr-auto ml-auto border border-solid border-black border-collapse">
    <h1 class="font-bold text-3xl text-center pb-1.5">Shifts for: <%= student.name %></h1>
    <tr>
        <th class="text-left border border-solid border-black border-collapse">
            ShiftID
        </th>
        <th class="text-left w-fit border border-solid border-black border-collapse">
            Shift Date
        </th>
        <th class="text-left w-40 border border-solid border-black border-collapse">
            Shift Type
        </th>
        <th class="text-left w-40 border border-solid border-black border-collapse">
            Site
        </th>
        <th class="text-left w-40 border border-solid border-black border-collapse">
            Delete Shift
        </th>
    </tr>

    <form id="addForm" action="<%= "/update/" + student.id %>" method="POST">
        <% for (const num in student.shifts) { %>
            <% if (checkShiftDay(student.shifts[num])) { %>
                <% if (student.shifts[num].status === 'NORMAL') { %>
                    <tr class="text-left w-52 border border-solid border-black border-collapse">
                        <td class="border border-solid border-black border-collapse"><input name="shiftID" value="<%= student.shifts[num].id %>" readonly></td>
                        <td class="border border-solid border-black border-collapse"> <input class="datepick" type="text" id="<%= "datepicker" + num %>" name="date" value="<%= student.shifts[num].date.toISOString().split('T')[0] %>"> </td>
                        <td class="w-fit text-center border border-solid border-black border-collapse">
                            <select value="<%= student.shifts[num].type %>" name="shiftType" class="form-select appearance-none
                              block
                              w-full
                              px-3
                              py-1.5
                              mb-3
                              text-base
                              font-normal
                              text-gray-700
                              bg-white bg-clip-padding bg-no-repeat
                              border border-solid border-gray-300
                              rounded
                              transition
                              ease-in-out
                              m-0
                              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <% if (student.shifts[num].type === 'DAY') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="EVENING">EVENING</option>
                                    <option value="NIGHT">NIGHT</option>
                                    <option value="SICK">SICK</option>
                                <% } %>
                                <% if (student.shifts[num].type === 'EVENING') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="DAY">DAY</option>
                                    <option value="NIGHT">NIGHT</option>
                                    <option value="SICK">SICK</option>
                                <% } %>
                                <% if (student.shifts[num].type === 'NIGHT') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="DAY">DAY</option>
                                    <option value="EVENING">EVENING</option>
                                    <option value="SICK">SICK</option>
                                <% } %>
                                <% if (student.shifts[num].type === 'SICK') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="DAY">DAY</option>
                                    <option value="NIGHT">NIGHT</option>
                                    <option value="EVENING">EVENING</option>
                                <% } %>
                            </select>
                        </td>
                        <td class="w-fit text-center border border-solid border-black border-collapse">
                            <select value="<%= student.section.id %>" name="site" class="form-select appearance-none
                              block
                              w-full
                              px-3
                              py-1.5
                              mb-3
                              text-base
                              font-normal
                              text-gray-700
                              bg-white bg-clip-padding bg-no-repeat
                              border border-solid border-gray-300
                              rounded
                              transition
                              ease-in-out
                              m-0
                              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <% for (const site of sites) { %>
                                    <% if (student.shifts[num].siteId === site.id && site.status !== 'DELETED' && student.shifts[num].status !== 'DELETED') { %>
                                        <option value="<%= site.id %>"> <%= site.name %> </option>
                                    <% } %>
                                <% } %>
                                <% for (const site of sites) { %>
                                    <% if (site.id !== student.shifts[num].siteId && site.status !== 'DELETED' && student.shifts[num].status !== 'DELETED') { %>
                                        <option value="<%= site.id %>"> <%= site.name %> </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <button type="button" title="Remove Shift" onclick="deleteModal(<%= student.shifts[num].id %>, <%= student.id %>)" class="bg-gray-200 hover:bg-gray-300 border py-1.5 px-4 rounded">
                                ❌
                            </button>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        <% } %>
    </form>
</table>

<div class="flex items-center justify-center pt-2.5">
    <input type="submit" form="addForm" value="<%= "Update Shifts" %>"
           class="save-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-3">
</div>

<dialog id="deleteShift" class="bg-transparent z-1 relative w-screen h-screen">
    <div class="p-7 flex justify-center items-center fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-200 opacity-0">
        <div class="bg-white rounded-lg w-fit relative">
            <div class="flex flex-col items-start">
                <!-- Top of modal -->
                <div class="px-7 pt-7 flex flex-row items-center w-full">
                    <!-- Title -->
                    <div class="text-gray-900 font-bold text-lg">Delete Shift Confirmation
                    </div>
                    <!-- X button -->
                    <svg onclick="modalClose('deleteShift')"
                         class="ml-auto fill-current justify-self-end text-gray-700 w-5 h-5 cursor-pointer"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
                    </svg>
                </div>
                <div class="px-7 pb-3 flex justify-start items-center w-full">
                    <p class="whitespace-pre-line text-gray-500">
                        Are you sure you want to delete this shift?
                        This shift will be remove from the student's schedule
                    </p>
                </div>
                <!-- Beginning of Form content -->
                <form id="deleteForm" method="POST">
                </form>
                <!-- Bottom of modal -->
                <div class="px-7 pt-1 pb-7 flex justify-start items-center w-full">
                    <button id="deleteButton" form="deleteForm" type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent
                    shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-400 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto sm:text-sm">
                        Delete
                    </button>
                    <button type="button" onclick="modalClose('deleteShift')" class="w-full inline-flex justify-center rounded-md border border-gray-300
                    shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-100 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</dialog>

<script type="text/javascript">
    $('.datepick').each(function(){
        $(this).datepicker({
            format: "yyyy-mm-dd",
        });
    });

    function openModal(key, form, button, studentID, shiftID) {
        document.getElementById(key).style.display = "block";
        document.getElementById(key).children[0].scrollTop = 0;
        document.getElementById(key).children[0].classList.remove('opacity-0');
        document.getElementById(key).children[0].classList.add('opacity-100')
        document.getElementById(form).setAttribute('action', action=`/section/shiftDelete/${studentID}/${shiftID}`)
    }

    function modalClose(key) {
        document.getElementById(key).children[0].classList.remove('opacity-100');
        document.getElementById(key).children[0].classList.add('opacity-0');
        setTimeout(function () {
            document.getElementById(key).style.display = "none";
            document.body.removeAttribute('style');
        }, 100);
    }

    function deleteModal(shiftID, studentID) {
        openModal('deleteShift', 'deleteForm', 'deleteButton', studentID, shiftID)
    }

</script>

<style>
    input{
        border: none;
    }
</style>