<% include ('./sectionFunctions') %>

<a href="/section" class="bg-red-500 hover:bg-red-400 text-white text-center font-semibold py-1.5 px-4 hover:border-red-500 rounded"> Back </a>

<table class="table-auto w-auto mr-auto ml-auto border border-solid border-black border-collapse">
    <h1 class="font-bold text-3xl text-center pb-1.5">Shifts for: <%= student.name %></h1>
    <tr>
        <th class="text-left border border-solid border-black border-collapse">
            ShiftID
        </th>
        <th class="text-left w-fit border border-solid border-black border-collapse">
            Shift Date
        </th>
        <th class="text-left w-40 border border-solid border-black border-collapse">
            Shift Type
        </th>
        <th class="text-left w-40 border border-solid border-black border-collapse">
            Site
        </th>
        <th class="text-left w-40 border border-solid border-black border-collapse">
            Delete Shift
        </th>
    </tr>

    <form id="addForm" action="<%= "/update/" + student.id %>" method="POST">
        <% for (const num in student.shifts) { %>
            <% if (checkShiftDay(student.shifts[num])) { %>
                <% if (student.shifts[num].status === 'NORMAL') { %>
                    <tr class="text-left w-52 border border-solid border-black border-collapse">
                        <td class="border border-solid border-black border-collapse"><input name="shiftID" value="<%= student.shifts[num].id %>" readonly></td>
                        <td class="border border-solid border-black border-collapse"> <input class="datepick" type="text" id="<%= "datepicker" + num %>" name="date" value="<%= student.shifts[num].date.toISOString().split('T')[0] %>"> </td>
                        <td class="w-fit text-center border border-solid border-black border-collapse">
                            <select value="<%= student.shifts[num].type %>" name="shiftType" class="form-select appearance-none
                              block
                              w-full
                              px-3
                              py-1.5
                              mb-3
                              text-base
                              font-normal
                              text-gray-700
                              bg-white bg-clip-padding bg-no-repeat
                              border border-solid border-gray-300
                              rounded
                              transition
                              ease-in-out
                              m-0
                              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <% if (student.shifts[num].type === 'DAY') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="EVENING">EVENING</option>
                                    <option value="NIGHT">NIGHT</option>
                                    <option value="SICK">SICK</option>
                                <% } %>
                                <% if (student.shifts[num].type === 'EVENING') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="DAY">DAY</option>
                                    <option value="NIGHT">NIGHT</option>
                                    <option value="SICK">SICK</option>
                                <% } %>
                                <% if (student.shifts[num].type === 'NIGHT') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="DAY">DAY</option>
                                    <option value="EVENING">EVENING</option>
                                    <option value="SICK">SICK</option>
                                <% } %>
                                <% if (student.shifts[num].type === 'SICK') { %>
                                    <option value="<%= student.shifts[num].type %>"> <%= student.shifts[num].type %> </option>
                                    <option value="DAY">DAY</option>
                                    <option value="NIGHT">NIGHT</option>
                                    <option value="EVENING">EVENING</option>
                                <% } %>
                            </select>
                        </td>
                        <td class="w-fit text-center border border-solid border-black border-collapse">
                            <select value="<%= student.section.id %>" name="site" class="form-select appearance-none
                              block
                              w-full
                              px-3
                              py-1.5
                              mb-3
                              text-base
                              font-normal
                              text-gray-700
                              bg-white bg-clip-padding bg-no-repeat
                              border border-solid border-gray-300
                              rounded
                              transition
                              ease-in-out
                              m-0
                              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <% for (const site of sites) { %>
                                    <% if (student.shifts[num].siteId === site.id && site.status !== 'DELETED' && student.shifts[num].status !== 'DELETED') { %>
                                        <option value="<%= site.id %>"> <%= site.name %> </option>
                                    <% } %>
                                <% } %>
                                <% for (const site of sites) { %>
                                    <% if (site.id !== student.shifts[num].siteId && site.status !== 'DELETED' && student.shifts[num].status !== 'DELETED') { %>
                                        <option value="<%= site.id %>"> <%= site.name %> </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <button type="button" title="Remove Shift" onclick="deleteModal(<%= student.shifts[num].id %>, <%= student.id %>)" class="bg-gray-200 hover:bg-gray-300 border py-1.5 px-4 rounded">
                                ❌
                            </button>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        <% } %>
    </form>
</table>

<div class="flex items-center justify-center pt-2.5">
    <input type="submit" form="addForm" value="<%= "Update Shifts" %>"
           class="save-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-3">
</div>

<%- include("../modals/deleteStudentShift") %>

<script type="text/javascript">
    $('.datepick').each(function(){
        $(this).datepicker({
            format: "yyyy-mm-dd",
        });
    });

    function openModal(key, form, button, studentID, shiftID) {
        document.getElementById(key).style.display = "block";
        document.getElementById(key).children[0].scrollTop = 0;
        document.getElementById(key).children[0].classList.remove('opacity-0');
        document.getElementById(key).children[0].classList.add('opacity-100')
        document.getElementById(form).setAttribute('action', action=`/section/shiftDelete/${studentID}/${shiftID}`)
    }

    function modalClose(key) {
        document.getElementById(key).children[0].classList.remove('opacity-100');
        document.getElementById(key).children[0].classList.add('opacity-0');
        setTimeout(function () {
            document.getElementById(key).style.display = "none";
            document.body.removeAttribute('style');
        }, 100);
    }

    function deleteModal(shiftID, studentID) {
        openModal('deleteShift', 'deleteForm', 'deleteButton', studentID, shiftID)
    }

</script>

<style>
    input{
        border: none;
    }
</style>
