<div class="text-3xl font-bold pb-8">
    Adminland
</div>

<div class="grid grid-cols-3 gap-x-6">
    <div class="shadow-xl p-6 rounded-md">
        <span class="text-2xl font-bold">
            Users 👤
        </span>

        <table id="user_table" class="stripe">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Section
                    </th>
                </tr>
            </thead>

            <tbody>
            <% for (const siteUser of users) { %>
                <% if (siteUser.id === user.id) continue; %>
                <tr>
                    <td>
                        <%= siteUser.name %>
                    </td>
                    <td>
                        <form action="admin/changeRole" method="post">
                            <input type="hidden" value="<%= siteUser.id %>" name="userId">
                            <select required name="role" onchange="submit(this);" class="form-select appearance-none
                                  block
                                  w-full
                                  py-1.5
                                  mb-3
                                  text-base
                                  font-normal
                                  text-gray-700
                                  bg-white bg-clip-padding bg-no-repeat
                                  border border-solid border-gray-300
                                  rounded
                                  transition
                                  ease-in-out
                                  m-0
                                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <option value="STUDENT" <% if (siteUser.role === 'STUDENT') { %> selected <% } %>>
                                    Student
                                </option>
                                <option value="INSTRUCTOR" <% if (siteUser.role === 'INSTRUCTOR') { %> selected <% } %>>
                                    Instructor
                                </option>
                                <option value="ADMIN" <% if (siteUser.role === 'ADMIN') { %> selected <% } %>>
                                    Admin
                                </option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <% if (siteUser.role === 'STUDENT') { %>
                            <form action="admin/changeSection" method="post">
                                <input type="hidden" value="<%= siteUser.id %>" name="userId">
                                <select required name="section" onchange="submit(this);" class="form-select appearance-none
                                      block
                                      w-full
                                      py-1.5
                                      mb-3
                                      text-base
                                      font-normal
                                      text-gray-700
                                      bg-white bg-clip-padding bg-no-repeat
                                      border border-solid border-gray-300
                                      rounded
                                      transition
                                      ease-in-out
                                      m-0
                                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                    <% for (const section of sections) { %>
                                        <option value="<%= section.id %>" <% if (siteUser.sectionId === section.id) { %> selected <% } %>>
                                            <%= section.name %>
                                        </option>
                                    <% } %>
                                </select>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

    </div>

    <div class="shadow-xl p-6 rounded-md">
        <span class="text-2xl font-bold">
            Sites 🏢
        </span>
        <!-- - List of sites and button to make a new one-->
    </div>

    <div class="shadow-xl p-6 rounded-md">
        <span class="text-2xl font-bold">
            Sections 👥
        </span>

        <table id="section_table" class="stripe">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Instructor
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
            <% for (const section of sections) { %>
                <% if (section.id === 0) continue; %>
                <tr>
                    <td>
                        <%= section.name %>
                    </td>
                    <td>
                        <form action="admin/changeSectionInstructor" method="post">
                            <input type="hidden" value="<%= section.id %>" name="sectionId">
                            <select required name="instructor" onchange="submit(this);" class="form-select appearance-none
                                  block
                                  w-full
                                  py-1.5
                                  mb-3
                                  text-base
                                  font-normal
                                  text-gray-700
                                  bg-white bg-clip-padding bg-no-repeat
                                  border border-solid border-gray-300
                                  rounded
                                  transition
                                  ease-in-out
                                  m-0
                                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                                <% for (const siteUser of users) { %>
                                    <% if (siteUser.role === 'INSTRUCTOR' || siteUser.role === 'ADMIN') { %>
                                        <option value="<%= siteUser.id %>" <% if (section.instructorId === siteUser.id) { %> selected <% } %>>
                                            <%= siteUser.name %>
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </form>
                    </td>
                    <td>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

    </div>
</div>

<script>
    submit = (select) => {
        const form = select.form;
        form.submit();
    }

    $(document).ready(() => {
        $('#user_table').DataTable({
            lengthChange: false,
            columnDefs: [
                {
                    searchable: false,
                    sortable: false,
                    targets: [1, 2]
                },
            ],
        });

        $('#section_table').DataTable({
            lengthChange: false,
            columnDefs: [
                {
                    searchable: false,
                    sortable: false,
                    targets: [1, 2]
                },
            ],
        });
    });
</script>
